<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spider.task_3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/todo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/todo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add" />
        <activity android:name=".Delete" />
        <activity android:name=".Display" />

        <receiver android:name=".ListAppWidget"
            android:label="@string/appwidget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_app_widget_info" />
        </receiver>
        <service android:name=".MyWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>